*,
::before,
::after {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    /* border: 1px solid red !important; */
}

body {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.shape, 
.player,
.pc {
    background-color: azure;
    border-radius: 25px;
    border: 1px solid skyblue;
    padding: 20px;
}

@media screen and (max-width: 870px) {
    .shape, 
    .player,
    .pc {
    min-width: 90%;
    }
}

.shape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.button-img {
    height: auto;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.side-img {
    height: auto;
    width: 100px;
    margin: 0 0 15px 0;
}

.button-img:hover {
    border: 4px solid black;
}

div.pc > p,
div.player > p {   
    color: rgb(185, 17, 236);
    margin: 0px;
}
.player,
.pc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 870px) {
    .player,
    .pc {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    }
}

.output {
    margin: 20px 0 0 0;
    display: flex;
    gap: 10px;
}

.final {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .90);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.message {
    font-size: 3rem;
    font-weight: 900;
}

#restart-button {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}
#restart-button:hover {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
}

.show {
    display: flex;
}